<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профіль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Профіль</h2>
        <p>Ім'я: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <a href="{% url 'profile_update' %}" class="btn btn-primary">Редагувати</a>
        <a href="{% url 'profile_delete' %}" class="btn btn-danger">Видалити</a>
    </div>
</body>
</html>
