<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статистика</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Статистика</h1>
        <ul class="list-group">
            <li class="list-group-item">Кількість вчителів: {{ num_teachers }}</li>
            <li class="list-group-item">Кількість класів: {{ num_classes }}</li>
            <li class="list-group-item">Кількість предметів: {{ num_subjects }}</li>
        </ul>
    </div>
</body>
</html>
