<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study Materials</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2>Study Materials</h2>
    <ul>
        {% for material in materials %}
            <li>
                {{ material.title }}
                {% if material.file %}
                    - <a href="{{ material.file.url }}">Download</a>
                {% else %}
                    - No file available
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
